{%  if is_granted('ROLE_ADMIN') %}
    {% set nav = ['home','logout'] %}
{%  else %}
    {% set nav = ['home','about','login'] %}
{%  endif %}
<div class="col">
    <ul class="navbar-nav mr-auto">
        {%  for item in nav %}
            {% if item == title %}{% set active = 'nav-item active' %}{%  else %}{% set active = 'nav-item' %}{% endif %}
            {% if item == 'home' %}{% set href = '/' %}{%  else %}{% set href = '/'~item %}{% endif %}
            {% if item == 'home' %}{% set label = '<span class="fa fa-home"></span>' %}{%  else %}{% set label = item|capitalize %}{% endif %}
            <li class="{{ active }}">
                <a class="nav-link" href="{{ href }}">{{ label|raw }}</a>
            </li>
        {% endfor %}
    </ul>
</div>