<div class="col">
    {% if 'practice' in app.request.attributes.get('_route') and is_granted('ROLE_USER') %}
        <ul class="navbar-nav mr-auto">
            {% for category in categories %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ category.title|capitalize }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for question in questions[category.id] %}
                            {% set i = loop.index %}
                            <a class="dropdown-item" href="{{ '/practice'~'/'~category.slug~'/'~'question-'~i }}">
                                {{ 'question-'~i|capitalize }}
                            </a>
                        {% endfor %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    {%  endif %}
</div>