<footer class="footer" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                © 2020 {{ app.request.httpHost }} | 1 place de la ville 75000 PARIS<br>
                <a href="http://h.douin.free.fr" target="_blank">Webmaster: h.douin</a> | <a href="#" title="plan de site">Plan de Site</a>
            </div>
            <div class="col-ms-6">
            </div>
        </div>
    </div>
</footer>