<nav class="navbar navbar-expand-lg navbar-light bg-light">
    {% include 'include/menus/home.html.twig' %}
    {% include 'include/menus/question.html.twig' %}
    {% include 'include/menus/admin.html.twig' %}
</nav>