<nav class="navbar navbar-expand-lg navbar-light bg-light">
    {% include 'include/menus_home.html.twig' %}
    {% include 'include/menus_category.html.twig' %}
    {% include 'include/menus_admin.html.twig' %}
</nav>