<p class="form-group">
    <label for="ltx">Lat X</label>
    <input type="text" class="form-control" id="ltx" aria-describedby="ltxHelp" placeholder="0">
    <small id="ltxHelp" class="form-text text-muted">Put your first point here...</small>
</p>
<p class="form-group">
    <label for="lgx">Lng X</label>
    <input type="text" class="form-control" id="lgx" aria-describedby="lgxHelp" placeholder="0">
    <small id="lgxHelp" class="form-text text-muted">Put your second point here...</small>
</p>
<p class="form-group">
    <label for="lty">Lat Y</label>
    <input type="text" class="form-control" id="lty" aria-describedby="ltyHelp" placeholder="0">
    <small id="ltyHelp" class="form-text text-muted">Put your third point here...</small>
</p>
<p class="form-group">
    <label for="lgy">Lng Y</label>
    <input type="text" class="form-control" id="lgy" aria-describedby="lgyHelp" placeholder="0">
    <small id="lgyHelp" class="form-text text-muted">Put your third point here...</small>
</p>
<p class="form-group">
    <label for="result">Result</label>
    <input type="text" class="form-control" id="result" aria-describedby="resultHelp" placeholder="0">
    <small id="resultHelp" class="form-text text-muted">Result for your code here.</small>
</p>
<button type="button" class="btn btn-primary" id="testmycode">Test my code</button>
