{% set max = 10 %}
<table class="table">
    <thead>
        <tr>
        {% for i in 1..max %}
            <th scope="col">{{ i~'x' }}</th>
        {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for j in 1..max %}
        <tr>
        {% for i in 1..max %}
            <td scope="row">{{ i * j }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
    </tbody>    
</table>
