{# templates/admin/form/question.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Admin - edit question{% endblock %}

{% block body %}
    <div class="col-xs-12">
        {{form_start(form_edit)}}
        <p class="form-group">
            {{form_row(form_edit.categories)}}
        </p>
        <p class="form-group">
            {{form_row(form_edit.title)}}
        </p>
        {{form_end(form_edit)}}
    </div>
{% endblock %}
