<!DOCTYPE html>
<html>
    {% include 'include/head.html.twig' %}
    <body>
        <div class="container">
            {% include 'include/menus.html.twig' %}
            {% include 'include/header.html.twig' %}
            {% include 'include/body.html.twig' %}
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
