<!DOCTYPE html>
<html>
    {% include 'include/head.html.twig' %}
    <body>
        <div class="container" id="container">
            <div id="msg"></div>
            {% include 'include/menus.html.twig' %}
            {% include 'include/header.html.twig' %}
            {% include 'include/body.html.twig' %}
            {% block body %}{% endblock %}
            {% include 'include/footer.html.twig' %}
        </div>
        <div id="haut">
            <i class="fa fa-arrow-up"></i>
        </div>
        {% block javascript %}{% endblock %}
    </body>
</html>
